<body>

  <header class="header" id="header">
    <h1 class="header__h1">Fræðslumyndbandaleigan</h1>
  </header>

  <main class="page__layout">

    <% if(data !=null) { %>
      <% data.categories.forEach(function(categories,index){ %>
        <!-- if there are no videos in this category, don't show the category's title -->
        <% if(Array.isArray(categories.videos) && categories.videos.length) { %>
          <h2 class="videos__title">
            <%- categories.title %>
          </h2>
          <div class="videos__row">
            <% categories.videos.forEach(function(videos){ %>
              <% var vid=helper.filterById(data.videos,videos); %>
                <div class="videos__col">
                  <a class="video__card" href="/video/<%- vid.id %>">
                    <div class="video">
                      <div class="video__image">
                        <img class="video__img" src="<%- vid.poster %>" alt="<%- vid.title %>">
                        <div class="video__duration"><b>
                            <%- helper.timeStamp(vid.duration) %>
                          </b></div>
                      </div>
                    </div>
                    <div>
                      <div class="video__content">
                        <h3 class="video__title">
                          <%- vid.title %>
                        </h3>
                        <p class="video__age">
                          <%- helper.getTimeSince(vid.created) %>
                        </p>
                      </div>
                    </div>
                  </a>
                </div>
                <% }) %>

                      <div class="videos__col">
                        <div class="spacer">
                        </div>
                      </div>


          </div>
          <hr class="line">
                  <% } %>
          <% }) %>
            <% } else { %>
              No video found.
              <% } %>
  </main>
</body>